* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #291718;
    color: azure;
}

header > nav > a {
    color: azure;
    text-decoration: none;
    padding: 10px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    height: 90vh;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid #48ab01;
    border-radius: 5px;
    padding: 2px 4px;
}

#block_user {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
    .block_user-creat, .block_user-delete {
        border: 1px solid #48ab01;
        border-radius: 5px;
        padding: 5px;
        input {
            width: 100%;
            padding: 5px;
            margin: 5px 0;
            border: 1px solid #48ab01;
            border-radius: 5px;
            cursor: pointer;
        }
        label {
            font-size: 18px;
            font-style: italic;
        }
        select {
            width: 100%;
            padding: 5px;
            margin-bottom: 5px;
            border: 1px solid #48ab01;
            border-radius: 5px;
            cursor: pointer;
        }
        button {
            background-color: #48ab01;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }
    }
}

footer {
    text-align: center;
    color: #48ab01;
    font-size: 16px;
    bottom: 5px;
}